* {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body, html {
    width: 1400px;
    height: 2270px;
    /* overflow-x: hidden; */
    -webkit-overflow-scrolling: auto;
    scroll-behavior: smooth;
    font-family: "HalveticaNeue", sans-serif;
}

@font-face {
    font-family: 'HelveticaNeue Bold';
    src: url('fonts/HelveticaNeue-Bold.eot');
    src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('fonts/HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Medium';
    src: url('fonts/HelveticaNeue-Medium.eot');
    src: url('fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeue-Medium.woff') format('woff'),
    url('fonts/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Light';
    src: url('fonts/HelveticaNeue-Light.eot');
    src: url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeue-Light.woff') format('woff'),
    url('fonts/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Regular';
    src: url('fonts/HelveticaNeue.eot');
    src: url('fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeue.woff') format('woff'),
    url('fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


section {
    width: 100%;
    height: 870px;
}

.red {
    background-color: #de2b24;
    padding-top: 110px;
}

.blue {
    background-color: #1287bf;
}

footer {
    background-color: #2a2a2a;
}

.projects {
    width: 1024px;
    height: 510px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #f35e59;
}

.projects__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.projects__item {
    width: 25%;
    height: 50%;
    list-style: none;
}

.projects__list li:nth-child(1) a,
.projects__list li:nth-child(3) a,
.projects__list li:nth-child(6) a,
.projects__list li:nth-child(8) a {
    text-decoration: none;
    font-size: 26px;
    font-family: "HelveticaNeue Regular", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1px;
}

.projects__list li:nth-child(1) span,
.projects__list li:nth-child(3) span,
.projects__list li:nth-child(6) span,
.projects__list li:nth-child(8) span {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
}

.projects__list li:nth-child(1),
.projects__list li:nth-child(3),
.projects__list li:nth-child(6),
.projects__list li:nth-child(8) {
    padding-top: 75px;
}

.projects__list li:nth-child(1) img,
.projects__list li:nth-child(3) img,
.projects__list li:nth-child(6) img,
.projects__list li:nth-child(8) img {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.work-info__head {
    font-size: 36px;
    font-family: "HelveticaNeue Regular", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.722;
    text-align: center;
    margin-bottom: 15px;
}

.work-info__explanation {
    font-size: 14px;
    font-family: "HelveticaNeue Light", sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: .5px;
    text-align: center;
}

.work-info__explanation::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 40px;
    border: 2px solid rgb(243, 243, 243);
}

.order {
    width: 680px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#order {
    font-size: 36px;
    font-family: "HelveticaNeue Regular", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.722;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 12px;
}

.order p {
    font-size: 18px;
    font-family: "HelveticaNeue Light", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: thin;
    line-height: 0.722;
    text-align: center;
    margin-bottom: 15px;
}

#arrow-circle {
    width: 64px;
    height: 64px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

#arrow-circle::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    border-width: 0px 30px 30px 30px;
    border-color: white transparent;
    border-style: solid;
    z-index: 1;
}

.order object {
    display: block;
    margin: 0 auto;
    margin-top: 18px;
}
  

.order-form {
    width: 100%;
    height: 450px;
    background-color: white;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left: 65px;
    padding-right: 65px;
    border-radius: 3px;
}

.order-form__text {
    font-size: 15px;
    font-family: "Helvetica";
    color: rgb(130, 130, 130);
    line-height: 1.467;
    text-align: center;
    margin-bottom: 40px;
}

.order-form input {
    width: 445px;
    -webkit-appearance: none;
    margin-bottom: 10px;
    border: 0;
    padding: 12px 12px;
    height: 48px;
    font-family: "Helvetica"; 
    font-size: 14px;
    font-weight: 500;
    line-height: 4.286;
    background: transparent;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 3px;
    color: rgb(176, 176, 176);
    transition: all .15s ease;
}

.button {
    padding: 15px 35px;
    font-family: "HelveticaNeue Regular", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 1.294;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background-color: #de2b24;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s ease;
    margin-top: 35px;
}

.button:hover {
    background-color: #c61913;
}

.button:focus{
    outline: none;
}

footer {
    width: 100%;
    height: 557px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
}

.social__text {
    font-size: 22px;
    font-family: "HelveticaNeue Regular", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.759;
    letter-spacing: .8px;
    margin-bottom: 25px;
    text-align: center;
}

.social__icons {
    width: 260px;
    height: 55px;
    margin: 0 auto;
}

.social__icons ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__icons li {
    list-style: none;
    display: block;
    padding-top: 10px;
    margin-left: -10px;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    border: 2px solid #515151;
    transition: .5s border ease;
}

.social__icons li:hover {
    border: 2px solid #de2b24;
}

.social__icons img {
    display: block;
    margin: 0 auto;
}

.subcribe {
    width: 680px;
    margin: 0 auto;
    text-align: center;
    margin-top: -100px;
}

.subcribe__head {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(206, 206, 206);
    line-height: 1.571;
    text-align: center;
    margin-bottom: 30px;
}

.subcribe__input {
    width: 100%;
    -webkit-appearance: none;
    margin-bottom: 25px;
    border: 0;
    padding: 12px 12px;
    height: 48px;
    font-family: "Open Sans"; 
    font-size: 14px;
    font-weight: 500;
    background: #515151;
    border-radius: 0;
    color: rgb(206, 206, 206);
    transition: all .15s ease;
}

.subcribe__input:focus {
    outline: none;
    border: 1px solid #de2b24;
}


.subcribe__button {
    padding: 15px 35px;
    font-family: "HelveticaNeue Regular", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 1.294;
    letter-spacing: 1px;
    text-align: center;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid #515151;
    transition: .5s border ease;
}

.subcribe__button:hover {
    border: 2px solid #de2b24;
}

.subcribe__button:focus{
    outline: none;
}
  
.footer__copyright {
    width: 100%;
    height: 67px;
    padding: 20px 0;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 1.929;
    text-align: center;
    color: rgb(206, 206, 206);
    background-color: rgb(81, 81, 81);  
}


@media only screen and (max-width: 800px) {
    .projects {
        width: 513px;
        height: 1020px;
    }

    .projects__item {
        width: 50%;
        height: 25%;
    }

    .red {
        height: 1380px;
    }
}

@media only screen and (max-width: 480px) {
    .projects {
        width: 300px;
        height: 2040px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects__item {
        width: 100%;
        height: 12.5%;
    }

    .projects__list li:nth-child(2) img,
    .projects__list li:nth-child(4) img,
    .projects__list li:nth-child(5) img,
    .projects__list li:nth-child(7) img {
        width: 100% !important;
    }

    .red {
        height: 2400px;
    }
}

  

  
